.headerStyle{
  border: none !important;
  background-color: rgb(39, 52, 62) !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  border-left:0 !important;
  border-right:0 !important;
  border-top:0 !important;
  z-index: 1000 !important;
}
.headerStyle > div > div > ul > li > a,
.headerStyle > div > div > a{
  color: white !important;
}
.tagACursor:hover {
  cursor: pointer !important;
}
