.headerStyle{
  border: none;
  background-color: rgb(39, 52, 62);
  margin-bottom: 0;
  border-radius: 0;
  border-left:0;
  border-right:0;
  border-top:0;
  z-index: 1000;
}
.headerStyle > div > div > ul > li > a,
.headerStyle > div > div > a{
  color: white !important;
}
.tagACursor:hover {
  cursor: pointer;
}
